html{
 scroll-behavior: smooth ;
}
body{
  font-family: 'Gabriela', sans-serif;
}


.navbar{
  background-color: black;
  opacity: 0.6;
 
  
}
#header h3{
  font-family: 'Gabriela', cursive;
  margin: 0;
  font-size: 30px;
  color: #26e40d;
}
.nav-items {
  float: right;
  margin: 0;
  font-size: 18px;
  padding-left: 30%;
}
#header .navbar{

  padding-top: 0;
  padding-bottom: 0;
}
li {
  display: inline;
  margin-right: 20px;
  
}
li a{
  color: white;
  text-decoration: none;
  padding-left: 20px;
}
li a:hover {
  color: #f56015;
  text-decoration: none;
}

.content{
  text-align: center;
  padding: 18%;
}
.carousel-caption {
  color:#fff;
  text-align:center;
  top:45%;
  left: 10%;
  width: 550px;
  bottom:auto;
  -webkit-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
.carousel-caption h2 {
  font-family: 'Gabriela', sans-serif;
  font-weight: 700;
}
.carousel-caption p {
  font-family: 'Gabriela', cursive;
  font-size: 40px;
}

#aboutus{
  font-family: 'Gabriela', sans-serif;
  line-height: 2;
  font-size: 20px;
}

.jumbotron p{
  color: #f1f5f0;
}

#menu{
  padding-right: 12%;
  padding-left: 12%;
  text-align: center;
  
 
}

.carousel-multi-item .carousel-indicators li{
 /*style carousel indicators*/
  background-color: #FE5A07;
  height: 1rem;
  width: 1rem;
}
.carousel-multi-item .carousel-indicators .active{
 /* style active carousel indicator*/
  background-color: #FE5A07;
  height: 1.25rem;
  width: 1.25rem;
}


.card {
  border: none;
}

.card-footer {
  background: none;
}

.divider {
  border: solid #FE5A07 3px;
  width: 10%;
}
#size{
  color: rgb(19, 18, 18);
}
#crust{
  color: rgb(53, 51, 51);
}

.pizzare {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.myHeader {
  text-decoration: underline;
  font-size: 30px;
  color: #FE5A07;
}

.cartItem {
  cursor: pointer;
  color: #0af72a;
}

.cartItem:hover {
  text-decoration: underline;
}

.cartmyCart, .choicemyCart, .deliverymyCart, .pickupmyCart, #show-pizza, #pickupEnd, #deliveryEnd {
  display: none;
}

button#pickup, button#delivery {
  margin-left: 33%;
  margin-right: 33%;
}

#deliveryCost {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pickupForm{
  color: #f1f5f0;
}

.contacts {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.contacts h1 {
  position: relative;
  top: 30px;
}
.text{
  margin-bottom: 20px;
}

.contact-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-control{
 
  color: white;
  
}
.input{
  margin-top: 30px;
}
.mytext{
  font-family: "Gabriela", "sans-serif";
}

.footer {
  background-color: black;
  padding: 40px 0px;
}

.address p {
  margin: 0px;
  color:#FE5A07;
}

.opening {
  color: var(--bs-dark);
}

.social i {
  margin: 5px 10px;
  
}

